# Ignore instrumental folders
.DS_*
mnt
downloads
sstate-cache
poky
meta-*
!meta-composeos/
!meta-composeos/dynamic-layers/meta-*
output_images
wip_patches

# Supported boards builds
rpi3b
rpi4
opizero2
bpm2z
